# dependencies
node_modules
pnpm-lock.yaml
# builds
frontend/.svelte-kit/
frontend/build/
backend/dist/
backend/frontend-build/
# runtime volumes
projects/**
!projects/.gitkeep
# misc
.DS_Store
.env


# frontend build
frontend/my-app/build/

# dev dependencies
dev-dependencies/
